# ─── Python ────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.Python
# entornos virtuales
.env/
.venv/
# notebooks
.ipynb_checkpoints/

# ─── Django ────────────────────────────────────────────────
*.sqlite3

# ─── Docker ────────────────────────────────────────────────
*.log
*.pid
# build cache
**/dist/
**/build/
**/.pytest_cache/

# ─── Configuración/IDE ─────────────────────────────────────
.vscode/
.idea/
*.code-workspace

# ─── Datos ────────────────────────────────────────────────
data/
*.parquet

# ─── Otros ────────────────────────────────────────────────
.env  # variables de entorno con claves
